* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}
#menu {
    font-family: verdana;
    width: 100%;

}
#menu ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
}
#menu ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    background: #00ADBA;
}
#menu li a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #ffffff;
}
#menu li:hover a, #menu li a:focus {
    background: #bbb;
    color: #fff;
}

#menu li ul {
    position: absolute;
    width: 0;

}
#menu li:hover ul, #menu li:focus ul {
    width: 100%;
    margin: 0 -4rem -4rem -4rem;
    padding: 0 4rem 4rem 4rem;
    background:  #fff;
}
#menu li li {
    display: block;
    width: 100%;
}
#menu li:hover li a, #menu li:focus li a {
    font-family: verdana;
    font-size: .7rem;
    line-height: 1.5rem;

    background: #FA7587;
}
#menu li li a:hover, #menu li li a:focus {
    background: #bbb;
}
